body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
}

.title {
    font-size: xx-large;
    padding: 20px 0;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    box-sizing: border-box;
    background-color: #ddb892;
    padding: 20px 5px 10px 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.listProduct .item img {
    width: 90%;
    height: 200px;
    filter: drop-shadow(0 25px 20px #0009);
    border-radius: 10%;

}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
    margin-right: calc(13px + 2%);
}

.listProduct .item .price {
    letter-spacing: 6px;
    font-size: 10;
    align-items: center;

}

.item button {
    background-color: #293241;
    color: white;
    align-items: center;
    margin: 20px 30px 20px 20px;
    padding: 10px 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}

.detail .buttons button {
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


.detail .buttons svg {
    width: 15px;
}

.detail .buttons span {
    background-color: #ddb892;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}

.detail .buttons button:nth-child(2) {
    background-color: #ddb892;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}

.detail .description {
    font-weight: 300;
}




#cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #f8f8f8;
    border: 30px solid #ddb892;
    padding: 10px;
    border-radius: 50px;
    text-transform: lowercase;
}

#cart button {
    background-color: #293241;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

#cart button:hover {
    background-color: #f28482;

}

#cart h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 20px;
}

#total-price {
    font-weight: bold;
}

.back-arrow {
    position: fixed;
    top: 30px;
    left: 10%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 40px;
}

/*ipad*/

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }

    .detail {
        grid-template-columns: 40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }

    .detail {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .detail .image img {
        width: unset;
        height: 40vh;
    }

    .detail .name {
        font-size: x-large;
        margin: 0;

    }

    .detail .buttons button {
        font-size: small;
    }

    .detail .buttons {
        justify-content: center;
    }
}